
:root{
  --sky-blue: #00a5be;
  --brown: #685128;
  --orange: #f7391c;
  --black:#000000;
}

body{
  margin: 0;
  padding: 0;
  display: block;
  background: var(--sky-blue);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.grid{
  display: grid;
  height: calc(100vh - 8em);
  padding: 4em;
  grid-template-columns: 50px 1fr 1fr 200px;
  grid-template-rows: 212px 100px 1fr 1fr 1fr;
  column-gap: 8em;
  grid-template-areas: "asset-top logo logo social-media" "name character-name avatar avatar" "about character-description avatar avatar" "asset-bottom character-text avatar avatar" "asset-bottom learn-more arrow other-line";
}
.learn-more{
  grid-area: learn-more;

  border: solid 5px salmon;
  display: flex;
  align-items: flex-end;
  font-size: 25px;
  text-transform: uppercase;
  background-image: url('./static/images/learn-more.svg');
  background-position: left 180px bottom 5px;
  background-repeat: no-repeat;
}
.arrow{
  grid-area: arrow;

  border: solid 5px rgb(221, 255, 0);
  background-image: url('./static/images/arrow.svg');
  background-repeat: no-repeat;
  background-position: left bottom;
}
.asset{
  /* grid-area: asset-top; */
  
  /* border: solid 2px red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-flow: column; */
}
.asset.top{
  grid-area: asset-top;
  
  border: solid 2px red;
  place-content: end;
  flex-flow: column;
  justify-content: space-between;
}
.asset.bottom{
  grid-area: asset-bottom;
  
  border: solid 2px red;
  place-content: start;
  flex-flow: column;
  justify-content: space-around;
}

.logo{
  grid-area: logo;

  margin: 0 auto;
  display: block;
  padding: 1.5em 0;
}

.navigation{
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation.name{
  grid-area: name;

  border: solid 3px rgb(199, 255, 102);
}

.navigation.about{
  grid-area: about;

  border: solid 3px rgb(93, 92, 94);
}

.navigation a{
  text-decoration: none;
  color: var(--black);
  font-size: 25px;
  text-transform: uppercase;
}

.social-media{
  grid-area: social-media;

  border:  solid 2px rgb(255, 13, 0);
}

.character-name-container{
  border: solid 2px forestgreen;
  display: flex;
  align-items: center;
  /* padding-inline-start: 1em; */
}

.character-description-container{
  grid-area: character-description;


}

.character-image-container{
  grid-area: avatar;

  border: solid 3px brown;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* hasta aqui el grid */
/* .navigation{
  border: solid 3px orange;
  margin: auto;
  text-align: center;
  width: 100vh;
  padding-inline-end: 2.3em;
  position: absolute;
  bottom: 50%;
  transform: rotate(270deg);
  translate: -45%; 
  text-transform: uppercase;
  display: inline-flex;
  justify-content: space-between;
  /* padding-inline: 4em; */
  /* display: none; */
/* } */ 

.navigation .text{
  display: inline-flex;
  padding: 0 20px;
}

.dot{
  width: 10px;
  height: 10px;
  background: var(--black);
  border-radius: 50%;
  display: inline-flex;
  margin: 5px;
}

.line{
  width: 1px;
  height: 100px;
  background: var(--black);
  display: inline-flex;
  margin: 10px;
}

.wrapper{
  max-width: 1280px;
  margin: auto;
  padding: 0 2em;
}

.character{
  text-align: center;
  margin-left: 100px;
}
.character-image{
  width: 100%;
  border-radius: 50%;
}
.character-name{
  font-size: 35px;
  text-transform: uppercase;
}
.character-labels{
  max-width: 300px;
}
.character-label{
  background: var(--brown);
  padding: 1em;
  color: white;
  border-radius: 10px;
  font-size: 25px;
  text-align: left;
  width: 95%;
  font-weight: 400;
}

@media screen and (min-width: 1024px) {
  .character-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "name image" "labels image";
  }
  .character-image{
    grid-area: image;
    width: 300px;
    border-radius: 10px;
  }
  .character-name{
    text-align: left;
  }
  .character-name h2{
    grid-area: name;
    font-size: 50px;
    position: relative;
    
  }
  .character-name h2::after{
    content: "";
    width: 87px;
    height: 6px;
    background-color: var(--orange);
    display: inline-flex;
    position: absolute;
    left: 50% + 3px;
    bottom: 50%;

  }
  .character-labels{
    grid-area: labels;
    max-width: 300px;
  }
 
}