
:root{
  --sky-blue: #00a5be;
  --brown: #685128;
  --orange: #f7391c;
  --black:#000000;
}

body{
  margin: 0;
  padding: 0;
  display: block;
  background: var(--sky-blue);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.grid{
  
  display: grid;
  height: calc(100vh - 8em);
  padding: 4em;
  grid-template-columns: 50px 1fr 1fr 200px;
  grid-template-rows: 232px 100px 1fr 1fr 1fr;
  column-gap: 8em;
  grid-template-areas: "asset-top logo logo social-media" "name character-name avatar avatar" "about character-description avatar avatar" "asset-bottom character-description avatar avatar" "asset-bottom learn-more arrow other-line";
}
.learn-more{
  grid-area: learn-more;
  display: flex;
  align-items: flex-end;
  font-size: 25px;
  text-transform: uppercase;
  background-image: url('./static/images/learn-more.svg');
  background-position: left 180px bottom 5px;
  background-repeat: no-repeat;
}
.arrow{
  grid-area: arrow;
  background-image: url('./static/images/arrow.svg');
  background-repeat: no-repeat;
  background-position: left bottom;
}
.asset{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.asset.top{
  grid-area: asset-top;
  place-content: end;
  flex-flow: column;
  justify-content: space-between;
}
.asset.bottom{
  grid-area: asset-bottom;
  place-content: start;
  flex-flow: column;
  justify-content: space-around;
}

.logo{
  grid-area: logo;
  margin: 0 auto;
  display: block;
  padding: 1.5em 0;
}

.navigation{
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation.name{
  grid-area: name;
}

.navigation.about{
  grid-area: about;
}

.navigation a{
  text-decoration: none;
  color: var(--black);
  font-size: 25px;
  text-transform: uppercase;
}

.social-media{
  grid-area: social-media;
}

.character-name-container{
  grid-area: character-name;
  display: flex;
  align-items: center;
}

.character-description-container{
  grid-area: character-description;
}

.character-image-container{
  grid-area: avatar;
  display: flex;
  align-items: center;
  justify-content: center;
}


.navigation .text{
  display: inline-flex;
  padding: 0 20px;
}

.dot{
  width: 10px;
  height: 10px;
  background: var(--black);
  border-radius: 50%;
  display: inline-flex;
  margin: 5px;
}

.line{
  width: 1px;
  height: 120px;
  background: var(--black);
  display: inline-flex;
  margin: 10px;
}

.wrapper{
  max-width: 1280px;
  margin: auto;
  padding: 0 2em;
}

.character{
  text-align: center;
  margin-left: 100px;
}
.character-image{
  max-width: 100%;
  border-radius: 50%;
  
}
.character-name{
  font-size: 35px;
  text-transform: uppercase;
}
.character-name h2{
  font-size: 50px;
  position: relative;
}
.character-name h2::after{
  content: "";
  width: 87px;
  height: 6px;
  background-color: var(--orange);
  display: inline-flex;
  position: absolute;
  left: 50% + 3px;
  bottom: 50%;
}
.character-labels{
  max-width: 96%;
}
.character-label{
  background: var(--brown);
  padding: 1em;
  color: white;
  border-radius: 10px;
  font-size: 25px;
  text-align: left;
  width: 95%;
  font-weight: 400;
}

@media screen and (max-width: 1440px) {
  .grid{
    column-gap: 2em;
    padding: 2em;
    grid-template-columns: 30px 1fr 1fr 20vw;
    grid-template-rows: 20vh 15vh 20vh 20vh 5vh;
    grid-template-areas: "asset-top logo logo social-media" "name character-name avatar avatar" "about character-description avatar avatar" "asset-bottom character-description avatar avatar" "asset-bottom learn-more arrow other-line";
  }
  .character-labels{
    padding: 0;
  }

  .character-name-container {
    justify-content: center;
    margin-top: 2em;
  }
  .character-name h2{
    font-size: 40px; 
  }
}

@media screen and (max-width: 1024px) {
  .grid{
    height: 100vh;
    padding: 1em;
    grid-template-columns: 3vw  1fr 1fr;
    grid-template-rows: 1fr 100px 150px 150px 1fr;
    column-gap: 1em;
    grid-template-areas: "asset-top logo logo" "name character-name arrow" "about character-description  avatar" "asset-bottom character-description  avatar" "asset-bottom learn-more social-media";
  }
  .logo{
    max-height: 100%;
  }
  .asset.top{
    justify-content: flex-end;
  }
  .line{
    width: 1px;
    height: 80px;
    background: var(--black);
    display: inline-flex;
    margin: 10px;
  }
  .asset.bottom{
    justify-content: flex-start;
  }
  .arrow{
    height: 80px;
    width: 80px;
    background-position: center;
    -webkit-transform:rotate(-90deg); 
    -moz-transform:rotate(-90deg);
    background-size: 50px;
    margin: auto;
  }
  .character-name-container {
    justify-content: center;
    height: 80px;
  }
  .character-name h2{
    font-size: 35px; 
  }
  .character-name h2::after{
    height: 5px;
    bottom: 36%;
    left: 101%;
  }
  .character-description-container{
    margin: auto 1em;
  }
  .character-labels{
    max-width: 96%;
    margin-left: .5em;
  }
  .character-label{
    text-align: center;
    font-size: 18px;
  }
  
  .navigation a{
    font-size: 15px;
  }
  .learn-more{
    font-size: 20px;
    height: 25px;
    background-position: right;
    background-size: 200px;
    width: 50vw;
    padding-top: 0.5em;
  }
  .social-media{
    margin: 2em;
    display: flex;
    margin: 0;
    align-items: start;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 780px) {
  .grid{
    padding: 1em;
    grid-template-columns: 30px 0.5fr 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "asset-top logo logo" "asset-top avatar avatar" "name character-name character-name" "asset-bottom character-description character-description" "asset-bottom arrow arrow" "asset-bottom about learn-more" "social-media social-media social-media";
    column-gap: 0;
  }
  .logo{
    max-width: 100%;
  }
  .asset.top{
    justify-content: flex-end;
  }
  .line{
    width: 1px;
    height: 200px;
    background: var(--black);
    display: inline-flex;
    margin: 10px;
  }
  .asset.bottom{
    justify-content: flex-start;
  }
  .logo{
    width: 1fr;
  }
  .arrow{
    height: 80px;
    width: 80px;
    background-position: center;
    -webkit-transform:rotate(-90deg); 
    -moz-transform:rotate(-90deg);
    background-size: 50px;
    margin: auto;
  }
  .character-name-container {
    justify-content: center;
    height: 57.8px;
  }
  .character-name h2{
    font-size: 30px;
  }
  .character-name h2::after{
    height: 5px;
    bottom: 36%;
    left: 100%;
  }
  .character-labels{
    max-width: 96%;
    margin-left: .5em;
  }
  .character-label{
    text-align: center;
  }
  .navigation.about{
    writing-mode: horizontal-tb;
    transform: rotate(360deg);
    justify-content: right;
    padding-right: 2em;
  }
  .navigation a{
    font-size: 20px;
  }
  .learn-more{
    font-size: 20px;
    justify-content: right;
    padding: 0;
    background: none;
  }
  .social-media{
    margin: 2em;
    display: flex;
    justify-content: space-evenly;
  }
}
